/* ======================================================== */
/* Helper classes */
/* ======================================================== */
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* ======================================================== */
/* Fonts definitions:
font-family: 'Raleway', sans-serif;
*/
/* ======================================================== */

/* ======================================================== */
/* Global class */
/* ======================================================== */

.container {
    margin: 0 auto;
    max-width: 1060px;
}

/* ======================================================== */
/* Our styles */
/* ======================================================== */

* {
    box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
}


/* ======================================================== */
/* Our styles */
/* ======================================================== */

.page-header {
    background: #000;
    height: 40px;
}

.page-logo {
    float: left;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    font-weight: 600;
}

.page-logo span {
    font-weight: 600;
    color: rgba(0, 200, 170, 1);
}

.page-nav {
    float: right;
}

.page-nav ul {
    text-align: right;
}

.page-nav li {
    display: inline-block;
    position: relative;
}

.page-nav li a {
    font-weight: 600;
    display: block;
    font-size: 14px;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.page-nav-sublist {
    position: absolute;
    top: 45px;
    left: -10px;
    background: #000;
    width: 150px;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s opacity, 0.5s top;
}

.page-nav-sublist::before {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    left: 36%;
    top: -20px;
}

.page-nav-sublist li {
    display: block;
    text-align: left;
}

.page-nav-sublist li a {
    text-transform: none;
    font-weight: normal;
}

.page-nav li:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
    top: 55px;
}


/* Main content */

.slider-bg {}

.main-slider {
    position: relative;
}

.main-slider-prev {
    position: absolute;
}

.main-slider-next {
    position: absolute;
}

.main-slider-slides-cnt {
    position: relative;
}

.slide {}