/* ======================================================== */
/* Helper classes */
/* ======================================================== */
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ======================================================== */
/* Fonts definitions */
/* ======================================================== */

/* ======================================================== */
/* Our styles */
/* ======================================================== */
* {
    box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


