/* HEADER */

.page-header {
    background: #000;
    height: 40px;

    .navigation {
        display: flex;
        justify-content: space-between;

        .page-logo {
            a {
                text-decoration: none;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 40px;

                span {
                    font-weight: 600;
                    color: $main-color;
                }
            }

            &:hover {
                transform: scale(1.1);
                transition: 0.3s linear;
            }
        }

        .page-nav {
            float: right;

            ul {
                text-align: right;
            }

            li {
                display: inline-block;
                position: relative;
            }

            li a {
                font-weight: 600;
                display: block;
                font-size: 14px;
                padding: 0 20px;
                line-height: 40px;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
            }
        }

        .page-nav-sublist {
            position: absolute;
            top: 45px;
            left: -10px;
            background: #000;
            width: 150px;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s opacity, 0.5s top;
            z-index: 999;

            &::before {
                content: '';
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-bottom-color: #000;
                position: absolute;
                left: 36%;
                top: -20px;
            }

            li {
                display: block;
                text-align: left;
            }

            li:hover a {
                background: #fff;
                color: black;
            }

            li a {
                text-transform: none;
                font-weight: normal;
            }
        }

        .extend {
            opacity: 1;
            visibility: visible;
            top: 55px;
        }
    }
}


// .page-nav li:hover .page-nav-sublist {
//     opacity: 1;
//     visibility: visible;
//     top: 55px;
// }
