.slider-bg {
    width: 100%;
    background: rgba(232,233,235,1);
    background: -moz-linear-gradient(top, rgba(232,233,235,1) 0%, rgba(246,246,246,1) 47%, rgba(166,170,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,233,235,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(166,170,179,1)));
    background: -webkit-linear-gradient(top, rgba(232,233,235,1) 0%, rgba(246,246,246,1) 47%, rgba(166,170,179,1) 100%);
    background: -o-linear-gradient(top, rgba(232,233,235,1) 0%, rgba(246,246,246,1) 47%, rgba(166,170,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,233,235,1) 0%, rgba(246,246,246,1) 47%, rgba(166,170,179,1) 100%);
    background: linear-gradient(to bottom, rgba(232,233,235,1) 0%, rgba(246,246,246,1) 47%, rgba(166,170,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e9eb', endColorstr='#a6aab3', GradientType=0 );
}

.main-slider {
    position: relative;
    height:450px;
}

.main-slider-prev {
    border: none;
    background: none;
    color: $main-color;
    position: absolute;
    font-size: 60px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.main-slider-next {
    border: none;
    background: none;
    color: $main-color;
    position: absolute;
    font-size: 60px;
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main-slider-slides-cnt {
    position: relative;
    height:100%;
    margin:0 60px;
}

.main-slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main-slider-slide-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform:translate(0,-50%);
    margin: 0 auto;
}

.main-slider-slide-text {
    position: absolute;
    text-align: center;
    width:50%;
    right: 0;
    top:50%;
    transform:translate(-10%,-50%);
}

.main-slider-slide-text h2 {
    padding-bottom: 20px;
}

.main-slider-slide-text div {
    padding-bottom: 30px;
    font-size: 1.4rem;
}

.main-slider-slide-text .btn {
    display: inline-block;
    color: #fff;
    font-size: 2.4rem;
    background-color: $main-color;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    padding:10px 30px;
}


h2 {
    text-transform: uppercase;
    font-size: 40px;
}

h2 span {
    font-weight: 600;
    color: $main-color;
}
